[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/typescript-vim"]
	path = .vim/pack/plugins/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
