#include ".Xresources.d/Xresources.dark"
xterm*termName:             xterm-256color
xterm*locale:               true
xterm*selectToClipboard:    true
xterm*saveLines:            2000
xterm*faceName:             Source Code Pro
xterm*faceNameDoublesize:   Source Han Sans JP

!URxvt Settings
URxvt*font:           xft:Source Code Pro:pixelsize=13,\
                      xft:Source Han Sans JP:pixelsize=13
URxvt*letterSpace:    -1
URxvt*scrollBar:      false
